/*stylesheet*/
section{
	margin-bottom:25px;
}
	
section section{
	width:100%;
	float:left;
	border:1px solid black;
}
#main-content section{
	width:33%;
	float:left;
}
	
#main-content{
	margin-bottom:25px;
}
	
#averageDBA{
	
}