canvas{
	
	border:1px solid black;
}

#start{
	
	width:90px;
	height:30px;
	
	
}

#quit{
	
	width:90px;
	height:30px;
	
}

#menu{
	
	border:2px solid black;
	width:181px;
	padding:10px;
	background-color:black;
	margin-bottom:10px;
	
}