canvas{
	position:absolute;
	margin-top:122px;
	margin-left: -286px;
}

#score{
	color:white;
}

#lives{
	color:white;
}

#start{
	font-size:60px;
	margin-bottom:5px;
}

#stop{
	font-size:60px;
	margin-bottom:5px;
}

#loseScreen{
	color:white;
	position:absolute;
	margin-left:300px;
}

#bounceCount{
	position:absolute;
	font-size:65px;
	margin-left:375px;
	margin-top:-80px;
	color:white;
	font-family:jokerman,arial;
}