canvas{
	position:absolute;
	margin-top:122px;
}

#score{
	color:white;
	position:absolute;
	margin-top:80px;
	font-size:30px;
	width:90px;
}

#lives{
	color:white;
	position:absolute;
	margin-top:80px;
	margin-left:95px;
	font-size:30px;
	width:90px;
}

#start{
	font-size:60px;
	margin-bottom:5px;
	position:absolute;
}

#stop{
	font-size:60px;
	margin-bottom:5px;
	margin-left:150px;
	position:absolute;
}

#loseScreen{
	color:white;
	position:absolute;
	margin-left:300px;
}

#bounceCount{
	position:absolute;
	font-size:65px;
	margin-left:600px;
	margin-top:-5px;
	color:black;
	font-family:jokerman,arial;
}

#ballColor{
	font-size:30px;
	position:absolute;
	margin-left:300px;
}


































