body {
    background-color:white;
    font-family:arial, sans-serif;
}
#game_canvas{ 
    border:1px solid black;
    width:500px;
    height:500px;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color:rgb(44, 42, 42);
        color:white;
    }
    #game_canvas {
        border:1px solid white;
    }
}